@page "/"
@inject HttpClient http

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick=buttonClick>ClickMe!</button>

<p>@message</p>

@code {
    string message;

    async Task buttonClick()
    {
        try
        {
            message = await http.GetStringAsync("api/HttpTrigger1");
        }
        catch (Exception e)
        {
            message = e.ToString();
        }
    }
}
