@page "/"
@inject HttpClient http

<PageTitle>Index</PageTitle>

<h1>Staging Branch!</h1>

Welcome to your new app.  Enter your name:
<input @bind=yourName />

<button @onclick=buttonClick>ClickMe!</button>

<p>@message</p>

@code {
    string message;
    string yourName;

    async Task buttonClick()
    {
        try
        {
            message = await http.GetStringAsync($"api/HttpTrigger1?name={yourName}");
        }
        catch (Exception e)
        {
            message = e.ToString();
        }
    }
}
